.u-section-1 {
  min-height: 1548px;
}

.u-section-1 .u-post-details-1 {
  min-height: 1283px;
  margin-top: -69px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 431px;
  width: 995px;
  margin: 87px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  background-image: none;
  font-style: normal;
  font-family: "IBM Plex Sans Arabic";
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-style: normal;
  font-family: "IBM Plex Sans Arabic";
  font-weight: 700;
  font-size: 2.25rem;
  margin: 32px 82px 0;
  text-align: right;
  margin-right: 150px;
}

.u-section-1 .u-text-3 {
  font-family: "IBM Plex Sans Arabic";
  font-weight: 700;
  font-size: 2.25rem;
  margin: 88px -15px 0 295px;
}

.u-section-1 .u-icon-1 {
  margin-right: 6px;
  vertical-align: 0px;
}

.u-section-1 .u-slider-1 {
  min-height: 662px;
  height: auto;
  margin-top: 88px;
  margin-bottom: -412px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("6c94b44b78c321975443af863adaab5e50006d90d83a0df4807862805609ad0d92589c7b8ad4db176770e502c0def4a928beb078ab7606fba62bec_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 101px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 464px;
  margin: 45px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("6c94b44b78c321975443af863adaab5e50006d90d83a0df4807862805609ad0d92589c7b8ad4db176770e502c0def4a928beb078ab7606fba62bec_1280.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 101px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 464px;
  margin: 45px auto 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("6c94b44b78c321975443af863adaab5e50006d90d83a0df4807862805609ad0d92589c7b8ad4db176770e502c0def4a928beb078ab7606fba62bec_1280.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 102px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 464px;
  margin: 47px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("6c94b44b78c321975443af863adaab5e50006d90d83a0df4807862805609ad0d92589c7b8ad4db176770e502c0def4a928beb078ab7606fba62bec_1280.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 102px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 464px;
  margin: 19px auto 0;
  min-height: 900px;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("6c94b44b78c321975443af863adaab5e50006d90d83a0df4807862805609ad0d92589c7b8ad4db176770e502c0def4a928beb078ab7606fba62bec_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 101px auto 0;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 464px;
  margin: 45px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 44px;
  height: 44px;
  left: 20px;
  position: absolute;
  right: auto;
  padding: 0;
}

.u-section-1 .u-carousel-control-2 {
  width: 44px;
  height: 44px;
  left: auto;
  position: absolute;
  right: 20px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1522px;
  }

  .u-section-1 .u-post-details-1 {
    min-height: 1298px;
  }

  .u-section-1 .u-image-1 {
    height: 407px;
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
    margin-left: 315px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 32px;
    margin-right: 35px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 114px;
    margin-right: -93px;
    margin-left: 174px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 64px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1398px;
  }

  .u-section-1 .u-image-1 {
    height: 312px;
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 241px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 88px;
    margin-right: -57px;
    margin-left: 58px;
  }

  .u-section-1 .u-slider-1 {
    margin-bottom: -316px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1362px;
  }

  .u-section-1 .u-image-1 {
    height: 300px;
    width: 590px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1496px;
  }

  .u-section-1 .u-post-details-1 {
    min-height: 1365px;
  }

  .u-section-1 .u-image-1 {
    height: 260px;
    width: 365px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-left: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 45px;
    margin-left: 36px;
    margin-right: 45px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 71px;
    margin-right: 31px;
    margin-left: 36px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 900px;
    margin-top: 84px;
    margin-bottom: -315px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    width: 340px;
    min-height: 850px;
  }

  .u-section-1 .u-text-13 {
    width: 340px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 13px;
  }
}